{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid yellow-color">
            <!-- Order status -->
    <div class="row mt-5">
        <div class="col mt-4">
            <hr class="hr-white w-100">
            <h2 class="logo-font yellow-color">My Profile</h2>
            <hr class="hr-white w-100">
        </div>
    </div>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div class="row text-center">
           <div class="col-6">
                {{ form.user_email | as_crispy_field }}
           </div>
           <div class="col-6">
                {{ form.subject | as_crispy_field }}
           </div>
        </div>
        <div class="row mt-3 text-center">
            <div class="col-12">
                {{ form.body | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button action="submit" class="yellow-btn font-weight-bold btn rounded-0">Send Contact form</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}