{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid home-container">
  <div class="row home-row mt-5 ml-1 pt-5 h-100">
        <div class="mt-5 pt-5 col-12 col-md-10">
            <h1 class="display-4 yellow-color">
                Materialize your vision!
            </h1>
            <hr class="hr-white">
            <div class="my-4 uppercase text-black">
                <h4 class="yellow-color">
                    Our designers here at GraphCenter are some of the finest in the industry. Let us guide you from the conceptual phase to a creative and well-made graphical design!
                </h4>
            <a
            href="{% url 'services' %}"
            class="btn btn-lg red-btn mt-5 rounded-4 py-3"
            ><strong>All Services</strong></a>
            </div>
        </div>
    </div>
    <div class="row about-us-row black-background">
        <div class="col-12 text-center yellow-color">
            <h1 class="my-4">About us</h1>
            <hr class="hr-white w-75">
        </div>
        <div class="d-none d-lg-block col-lg-2">
            <img src="../static/img/about-us-small.png" alt="">
        </div>
        <div class="col-12 pr-5 col-md-9">
            <p class="yellow-color">
                <strong>
                    Here at GraphCenter, creativity, dilligence and synergy are the core of our company philosophy. 
                    All employees have their own specialization culmunating in a web of talent ranging from Graphic Design, to Marketing, to Web Development.
                    Not only are we able to serve customers with a diverse package of services, even single services will be designed with other aspects, 
                    like Search Engine Optimization, in mind.
                </strong>
            </p>
            <p class="yellow-color">
                <strong>
                    GraphCenter started out as 6 friends, all in different creative fields, helping eachother out with projects for university or their occupation. 
                    The teamwork that truly characterizes our company was already present before the company was officially created.
                    This pool of talent and experience allows us to help you develop your brand from the ground up or create 
                    the perfect components to finish your product.
                </strong>
            </p>
            <p class="yellow-color">
                <strong>
                    In case you would like to contact us for advice or to discuss a project idea, send us an e-mail by filling in the form below. We are always keen for our next challenge.
                </strong>
            </p>
        </div>
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-12 mb-4 pb-3 text-center">
            <hr class="hr-white w-75">
            <a href="{% url 'contact' %}" class="btn btn-lg red-btn rounded-4 mb-5 py-3"><strong>Contact us</strong></a>
        </div>
    </div>
</div>
{% endblock %}