{% extends "base.html" %}
{% load static %}
{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid home-container mx-0">
  <div class="row home-row h-100 px-5">
        <div class="col-12 col-md-9 my-auto">
            <h1 class="display-4 logo-font">
                Materialize your vision!
            </h1>
        <hr>
            <div class="my-5 logo-font text-black">
                <h4 class="text-black">
                    Our designers here at GraphCenter are some of the finest in the industry. Let us guide you from the conceptual phase to a creative and well-made graphical design!
                </h4>
                <a
            href=""
            class="shop-now-button btn btn-lg mt-5 rounded-0 text-uppercase py-3"
            >Shopdude</a
          >
            </div>
        </div>
    </div>
</div>
{% endblock %}