{% extends "base.html" %}
{% load static %}
{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid home-container">
  <div class="row home-row h-100 px-5">
        <div class="col-12 col-md-9 my-auto">
            <h1 class="display-4 yellow-color">
                Materialize your vision!
            </h1>
        <hr class="hr-white">
            <div class="my-4 uppercase text-black">
                <h4 class="yellow-color">
                    Our designers here at GraphCenter are some of the finest in the industry. Let us guide you from the conceptual phase to a creative and well-made graphical design!
                </h4>
                <a
            href=""
            class="pop-services-button btn btn-lg red-background white-color mt-5 rounded-4 py-3"
            ><strong>Popular Services</strong></a
          >
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about-us-container">

</div>
{% endblock %}