{% load static %} <!-- Needed to link to static files that are
 saved in our root static folder -->

<nav class="navbar navbar-expand-lg navbar-dark black-background fixed-top">
    <!-- Logo left side of navbar -->
    <a class="navbar-brand" aria-label="Brand Logo & refresh link" href="">
        <h1 class="logo-font yellow-color"><strong>Graph</strong>Center</h1>
    </a>
    <!-- toggler button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto uppercase">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold mr-5 yellow-color nav-link" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
                </a>
                <div class="dropdown-menu black-background border-0" aria-labelledby="all-services-link">
                    <a href="" class="dropdown-item yellow-color">Vectors</a>
                    <a href="" class="dropdown-item yellow-color">Logos</a>
                    <a href="" class="dropdown-item yellow-color">Graphical Enhancement</a>
                    <a href="" class="dropdown-item yellow-color">Brand Design</a>
                    <a href="" class="dropdown-item yellow-color">All Services</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link yellow-color mr-5" href="#" id="showcase-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show Prior Work  
                </a>
                <div class="dropdown-menu black-background border-0" aria-labelledby="showcase-link">
                    <a href="" class="dropdown-item yellow-color">Vectors</a>
                    <a href="" class="dropdown-item yellow-color">Logos</a>
                    <a href="" class="dropdown-item yellow-color">Graphical Enhancements</a>
                    <a href="" class="dropdown-item yellow-color">Branding</a>
                    <a href="" class="dropdown-item yellow-color">All Categories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold mr-5 yellow-color nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Special Offers
                </a>
                <div class="dropdown-menu black-background border-0" aria-labelledby="specials-link">
                    <a href="" class="dropdown-item yellow-color">New Arrivals</a>
                    <a href="" class="dropdown-item yellow-color">Deals</a>
                    <a href="" class="dropdown-item yellow-color">Clearance</a>
                    <a href="" class="dropdown-item yellow-color">All Specials</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto uppercase">
            <li class="nav-item dropdown inline-item">
                <a
                href="#" class="yellow-color font-weight-bold nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="false">
                    <div class="text-center toggle-center">
                    <div><i class="fas fa-user fa-lg d-none d-lg-inline-block"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu black-background border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'account_logout' %}" class="dropdown-item font-weight-bold yellow-color">Product Management</a>
                        {% endif %}
                            <a href="" class="dropdown-item yellow-color">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item font-weight-bold yellow-color">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item font-weight-bold yellow-color">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item font-weight-bold yellow-color">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item inline-item">
                <a href="" id="about-us" class="yellow-color font-weight-bold nav-link">
                    <div class="text-center toggle-center">
                    <div><i class="fas fa-at fa-lg d-none d-lg-inline-block"></i></div>
                        <p class="my-0">About us</p>
                    </div>
                </a>
            </li>
            <li class="nav-item inline-item">
                <a class="{% if grand_total %}text-info {% else %}yellow-color{% endif %} nav-link" href="">
                    <div class="text-center toggle-center">
                    <div><i class="fas fa-shopping-bag fa-lg d-none d-lg-inline-block"></i></div>
                        <p class="my-0 font-weight-bold">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
 <!-- Remove Text center from view lower than large -->
<script>
    // toggles classes when screen changes. only needed for developer and assessors.
    $(window).resize(function(){
        if($(window).width() <= 991){
            $('.toggle-center').removeClass('text-center');
            }
        if($(window).width() > 991){
            $('.toggle-center').addClass('text-center');
            }
    });
    // Toggles classes when site is loaded.
        if($(window).width() <= 991){
            $('.toggle-center').removeClass('text-center');
            }
        if($(window).width() > 991){
            $('.toggle-center').addClass('text-center');
            }
</script>