{% load static %} <!-- Needed to link to static files that are
 saved in our root static folder -->

<footer class="black-background page-footer fixed-bottom">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="d-none d-md-block text-center pt-3 col-md-4">
                <a href="{% url 'contact' %}">
                    <h3 class="yellow-color">Contact Us</h3>
                </a>
            </div>
            <div class="col-5 col-md-4">
                <ul class="list-inline pt-4 text-center">
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" class="yellow-color" href="https://instagram.com" rel="noopener">
                            <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                    </li>
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" class="yellow-color" href="https://www.facebook.com" rel="noopener">
                            <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </div>
                    </li>
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" class="yellow-color" href="https://github.com/Decline-of-Mind" rel="noopener">
                            <i class="fab fa-github fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Developer Github</span>
                        </a>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="col-7 col-md-4 text-center pt-1 yellow-color">
                <p class="d-none d-md-block"><strong>Developer: </strong>Luc Gotink</p> 
                <p class="small">For Educational Purposes Only</p>
            </div>
        </div>
    </div>
</footer>