<!-- 
<footer>
    <div class="container-fluid fixed-bottom">
        <div class="row footer-row">
            <div class="col-12 col-md-4 ml-auto">
                <a href="">
                    <h3>Contact Us</h3>
                </a>
            </div>
            <div class="col-6 col-md-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" href="https://instagram.com" rel="noopener">
                            <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                    </li>
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" href="https://www.facebook.com" rel="noopener">
                            <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </div>
                    </li>
                    <li class="list-inline-item">
                    <div class="text-center">
                        <a target="_blank" href="https://github.com/Decline-of-Mind" rel="noopener">
                            <i class="fab fa-github fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Developer Github</span>
                        </a>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 footer-logo mr-auto">
                <p><strong>Developer: </strong>Luc Gotink</p>
                <p>For Educational Purposes Only</p>
            </div>
            
        </div>
    </div>
</footer> -->