{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted yellow-color">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-2 mb-3">
                
                </fieldset>
                <fieldset class="rounded px-2 mb-3">
                
                </fieldset>
                <fieldset class="rounded px-2 mb-3">
                
                </fieldset>
            </form>
        </div>
    </div>
</div>