@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    width: 100%;
    /* overflow-x: hidden; */
}

html {
    
    /* display: -ms-grid;
    display: grid; */
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
    /* overflow-x: hidden; */
}

.logo-font{
    font-family: 'Russo', sans-serif !important;
}
/* primary */
.yellow-background {
    background-color: #E0FF4F !important;
}

.yellow-color {
    color: #E0FF4F !important;
}
/* secondary */
.black-background {
    background-color: #00272b !important;
}

.black-color {
    color: #00272b !important;
}
/* Additional */
.white-color {
    color: white !important;
}

.purple-background {
    background-color: #00203FFF;
}

.purple-color {
    color: #00203FFF !important; 
}

.red-background {
    background-color: #FF6663;
}

.red-color {
    color: #FF6663 !important;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #00203FFF;
    z-index: -3;
}

/* navigation */
.main-nav {
    margin-top: 80px;
}



/* Nav and dropdown dynamic responses */

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
    background-color: #00203FFF;
    color: #E0FF4F !important;
    border: 1px solid #E0FF4F;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color:#00203FFF;
    color: #E0FF4F !important;
    border: 1px solid #E0FF4F;
}

/* Index.html */

.home-container {
    background: url("../img/home.jpg") no-repeat center center fixed;
    margin-top: 70px;
    height: 700px;
}
.about-us-row {
    height: 500px; 
    width: 100vw;
    background-color: #00203FFF;
}

.pop-services-button:hover,
.pop-services-button:active,
.pop-services-button:focus {
    background-color:#00203FFF;
    color: #E0FF4F !important;
    border: 1px solid #E0FF4F;
}



/* Services.html */

.service-container {
    min-height: 870px;
    margin-top: 80px;
}

.card-image-container {
    object-fit: fill;
    overflow: hidden;
}


/* Service_detail.html */

.category-row {
    width: 100%
}

/* additional tools */
.hr-white {
    /* so it works in every browser type */
    border-color: white; 
    background-color: white;
    color: white;
}



@media (min-width: 576px) {
    .service-container {
        margin-top: 80px;
    }
}


@media (max-width: 991px) {
    .about-us-row {
        width: 100vw;
        height: 1200px;
    }

}

