@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
    min-height: 100vh;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
    background-color: #00203FFF;
}

.logo-font{
    font-family: 'Russo', sans-serif !important;
}
/* primary */
.yellow-background {
    background-color: #E0FF4F;
}

.yellow-color {
    color: #E0FF4F !important;
}
/* secondary */
.black-background {
    background-color: #00272b !important;
}

.black-color {
    color: #00272b !important;
}
/* Additional */
.white-color {
    color: white !important;
}

.purple-background {
    background-color: #00203FFF;
}

.purple-color {
    color: #00203FFF; 
}

.red-background {
    background-color: #FF6663;
}

.red-color {
    color: #FF6663 !important;
}

/* message container */

.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 999999;
}

/* navigation */
.main-nav {
    margin-top: 80px;
}


/* footer */

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}




/* Nav and dropdown dynamic responses */

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
    background-color: #00203FFF;
    color: #E0FF4F !important;
    border: 1px solid #E0FF4F;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color:#00203FFF;
    color: #E0FF4F !important;
    border: 1px solid #E0FF4F;
}

/* button responses, 2 kinds. */

.red-btn {
    background-color: #FF6663;
    color: white;
}

.red-btn:hover,
.red-btn:active,
.red-btn:focus {
    background-color: #00272b;
    color: #FF6663;
    border: 1px solid #FF6663;
}

.yellow-btn {
    background-color: #E0FF4F;
    color: #00203FFF;
}

.yellow-btn:hover,
.yellow-btn:active,
.yellow-btn:focus {
    background-color: #00203FFF;
    color: #E0FF4F;
    border: 1px solid #E0FF4F;
}

/* Index.html */

.home-container {
    background: url("../img/home.jpg") no-repeat center center fixed;
    width: 100%;
    margin-top: 70px;
}
.about-us-row {
    margin-top: 100px;
    background-color: #00203FFF;
}


/* Services.html */

.service-container {
    margin-top: 80px;
    padding-bottom: 70px;
}

.card-image-container {
    object-fit: fill;
    overflow: hidden;
}

.card-body,
.card-footer {
    padding-left: 10px;
    padding-right: 10px;
}

/* Service_detail.html */

.service-detail-container {
    margin-top: 80px;
}

.category-row {
    width: 100%
}


/* Cart */
.empty-cart {
    height: 400px;
}

.cart-background {
    background: url("../img/wallet-no-bg.png") no-repeat top right;
}

.table-align-right {
  text-align: right;
}

.delete-btn {
    color: #E0FF4F;
    background: none;
    padding: 0px;
    border: none;

}

.delete-btn:hover,
.delete-btn:active,
.delete-btn:focus {
    color: #FF6663;
}

/* additional tools */

.hr-white {
    /* so it works in every browser type */
    border-color: white; 
    background-color: white;
    color: white;
}

.yellow-border {
    border: 2px solid #E0FF4F;
}


/* Using media queries to make sure Service.Name is visible on service_details.html */
@media (min-width: 320px) {
    .service-detail-container {
        margin-top: 120px;
    }
}
@media (min-width: 359px) {
    .service-detail-container {
        margin-top: 80px;
    }
}

/* Allauth form Formatting */
 
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color:white !important;
}

/*  Service and checkout Form    */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #FF6663;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FF6663;
    border-color: #FF6663;
    border-radius: 0;
}



/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* toasts */
.custom-toast {
    border: 1px solid #E0FF4F;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

