@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000;
}
body {
    background: url('../img/home-banner.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

.text-black {
    color: #000 !important;
}

.gray-color {
    color: #555 !important;
}

.logo-font {
    font-family: 'Russo One', sans-serif;
    
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Navigation */

.nav-container {
    background-color: #cfd8dc;
}

.list-inline-item:hover,
.list-inline-item:visited {
    color: #fff;
    background-color: lightblue;
}

/* Home */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 166px);
    }
}

