{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid purple-background yellow-color flex-fill service-detail-container">
    <div class="row mt-5 mx-3">
        <div class="col-md-5 col-lg-5 col-sm">
         <a href="{% url 'services' %}" class="btn red-btn mt-2 rounded-4 text-white"><strong>
         <span class="icon"><i class="fas fa-chevron-left"></i></span> Back to Services</strong></a>
            <div class="image-container mt-2">
            {% if service.image %}
                <img class="card-img-top img-fluid rounded-0" src="{{ service.image.url }}" alt="{{ service.name }}">
            {% else %}
                <img class="card-img-top img-fluid rounded-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
            {% endif %}
            </div>
        </div>

        <div class="col-md-7 col-lg-7 col-sm">
            <div class="service-details-container mb-5 mt-md-5">
                <h1 class="mt-1">{{ service.name }}</h1>
                <div class="d-inline lead font-weight-bold">€ {{ service.price }}</div>
                <hr class="hr-white">
                <h1>Description:</h1>
                <hr class="hr-white">
                <h2 class=""> {{ service.description }}</h2>
                <hr class="hr-white">
                <p class="mt-3 pt-3 ml-1">
                    <a class="yellow-color rounded" href="{% url 'services' %}?category={{ service.category.name }}">
                        <i class="fas fa-tag fa-lg mr-2"></i><strong>{{ service.category.friendly_name }}</strong>
                    </a>
                </p>
            </div>
            {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="red-color" href="{% url 'edit_service' service.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
                </small>
            {% endif %}
            <div class="order-container">
                {% if request.useris_authenticated %}
                <form id="add_to_cart" action="{% url 'add_to_cart' service.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="add_service" class="float-right yellow-btn btn font-weight-bold rounded-4 mb-3 mt-lg-3">ADD TO CART</button>
                <input class="form-control" type="hidden" 
                                                name="quantity" value="1" min="1" max="1" 
                                                data-item_id="{{ service.id }}" 
                                                id="id_qty_{{ service.id }}">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                {% else %}
                    <a class="btn yellow-btn float-right font-weight-bold rounded-0" href="{% url 'account_login' %}">Login to add to your cart</a>
                    <a href="{% url 'account_signup' %}">Dont have an account? Sign Up!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}