{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid purple-background service-container">
    <div class="row mt-1">
        <div class="col-12 text-center mt-2">
            <h2 class="yellow-color">{{ service.name }}</h2>
            <hr class="hr-white w-50">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 h-75 mb-2 col-md-4">
            {% if service.image %}
            <a class="card-image-container" href="">
                <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
            </a>
            {% else %}
            <a class="card-image-container" href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
            </a>
            {% endif %}
        </div>
            <div class="col-12 col-md-8 text-center">
                <p class="yellow-color font-weight-bold"> {{ service.description }}</p>
            </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-4">
            {% if service.category %}
            <p class="mt-1 text-center ml-1">
                <a class="yellow-color rounded" href="{% url 'services' %}?category={{ service.category.name }}">
                    <i class="fas fa-tag fa-lg mr-2"></i><strong>{{ service.category.friendly_name }}</strong>
                </a>
            </p>
        </div>
    </div>
            {% endif %}   
</div>


{% endblock %}